<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/cdn.html') -%>
    <title><%= title %></title>
</head>
<body>
    <section id="central">
        <%- include('partials/nav') -%>
    </section>
</body>
</html>

