<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/cdn.html')-%>
</head>
<body>
    <section id="central">
        <%- include('partials/nav') -%>
        <div class="announce animated bounceInDown">
            <h1>EmbeddedFrog Services</h1>
            <p>We offer quality software in a fast-paced production</p>
        </div>
        <div class="box animated flipInX">
            <h1>> Open-Source</h1>
        </div>
    </section>
</body>
</html>