<nav>
    <ul>
        <i class="fas fa-frog animated bounce"></i>
        <li><a href="/">Home</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/proyects">Proyects</a></li>
        <li><a href="/contact">Contact</a></li>
        <div class="search">
            <input type="text" placeholder="Hot frogs...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
    </ul>
</nav>